.cardContainer {
  display: flex;
  height: 420px;
  width: 90%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border: 5px solid var(--wine);
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media (max-width: 768px) {
  .cardContainer {
    margin: 10px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }
}

.cardContainerImgContainer {
  display: flex;
  width: 1200px;
  height: 100%;
  justify-content: center;
  align-content: center;
  background-color: white;
  border-radius: 5px 5px 0 0;
}

@media (max-width: 768px) {
  .cardContainerImgContainer {
    width: 100%;
    height: 100%;
  }
}

.cardContainerImgContainerImg {
  border-radius: 3px 3px 0 0;
  height: auto;
  width: 100%;
}

@media (max-width: 768px) {
  .cardContainerImgContainerImg {
    width: 100%;
  }
}

.cardContainerDataContainer {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--verdeHierba);
  border-radius: 0 0 5px 5px;
  border-left: solid 5px var(--wine);
}

@media (max-width: 768px) {
  .cardContainerDataContainer {
    width: 100%;
    border-left: none;
    border-top: solid 5px var(--wine);
  }
}

.cardContainerDataContainerTitle {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .cardContainerDataContainerTitle {
    height: 30%;
  }
}

.cardContainerDataContainerPrice {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cardContainerDataContainerPrice {
    margin-bottom: 20px;
  }
}

.cardContainerDataContainerButton {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.cardContainerDataContainerDescription {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
