.containerProducts {
  display: flex;
  min-height: 600px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--azulino);
}

.containerProductsTitle {
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerProductsCards {
  display: flex;
  min-height: 480px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  column-gap: 40px;
  flex-wrap: wrap;
  align-content: space-around;
}

.containerVerMasResultados {
  margin-top: 20px;
  margin-bottom: 50px;
}
